<meta charset="utf-8">  
<title>LOJA</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 5vh 10%;
        padding-top: 50px;
        background-color: #f4f4f4;
    }
</style>
<link rel="stylesheet" type="text/css" href="/css/style.css">