<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Recuperação de senha</h1>
                    <hr /> <br />

                    <% if (success) { %>
                        <div class="alert alert-success">
                            <%= success %><
                            /div>
                    <% } %>
                    <div class="text-center">
                        <h2>Recuperação de senha concluida</h2>
                        <p>Enviamos um e-mail com as instruções para recuperar sua senha.</p>
                    </div>
                    <% if (error) { %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>
                    <%
                    <p>
                        Digite seu e-mail para recuperar sua senha.
                    </p>

                    <form action="/v1/api/usuarios/recuperar-senha" method="POST">
                        <div class="form-group">
                            <input
                                type="email"
                                name="email"
                                class="form-control"
                                placeholder="Seu e-mail"
                            />
                        </div>
                        <button class="btn btn-primary">
                            Recuperar senha
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>





